@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Lobster", sans-serif;
}

a {
  @apply text-sm text-sky-50 underline decoration-1 underline-offset-4 capitalize decoration-sky-300 duration-300;
  transition-property: text-underline-offset, text-decoration-thickness;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  @apply underline-offset-8 decoration-4;
}